@model SygnusportalBD.Pais

@{
    ViewBag.Title = "Pais Create";
}

<p>
        <h2>Pais Create</h2>
</p>
<ul class="nav nav-tabs">
    <li><a href="@Url.Action("Index")"><i class="far fa-list-alt"></i> Pais</a></li>
    <li class="active"><a href="@Url.Action("Create")"><i class="far fa-file"></i> Nuevo</a></li>
</ul>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
        <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-body">
                <div id="divLoader" class="modal fade in Loading" role="dialog" style="display:none;">
                    <center class="centrado">
                        <h2>Procesando..</h2>
                        <p></p>
                        <img src="~/Content/Imagenes/Loading.gif" alt="Loader" />
                    </center>
                </div>
                @if (ViewBag.Err != null)
                {
                    <div class="alert alert-danger">@ViewBag.Err</div>
                }
    <div class="form-horizontal">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.pai_codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pai_codigo, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.pai_codigo) + " *" } })
                @Html.ValidationMessageFor(model => model.pai_codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pai_nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pai_nombre, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.pai_nombre) + " *" } })
                @Html.ValidationMessageFor(model => model.pai_nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pai_codigointernacional, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pai_codigointernacional, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.pai_codigointernacional) + " *" } })
                @Html.ValidationMessageFor(model => model.pai_codigointernacional, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pai_predeterminado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pai_predeterminado)
                    @Html.ValidationMessageFor(model => model.pai_predeterminado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>

            </div>
            <div class="panel-footer">
                <button type="submit" id="btnSubmit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-ok"></span> Guardar
                </button>
                <a class='btn btn-danger btn-sm' href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </a>

            </div>
        </div>
    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $("#pai_codigo").focus();

        $("#btnSubmit").click(function () {
            $("#divLoader").show();
        });
    </script>

}
