@model SygnusportalBD.Pais


@{
    ViewBag.Title = "Paises";
}

<p>
    <h1>Paises</h1>
</p>
<ul class="nav nav-tabs">
    <li><a href="@Url.Action("Index")"><i class="far fa-list-alt"></i> Paises</a></li>
    <li class="active"><a href="@Url.Action("Create")"><i class="far fa-file"></i> Elimiar</a></li>
</ul>

<div class="panel-group">
    <div class="panel panel-success">
        <div class="panel-body">
            <h3 class="text-center">Estas seguro de eliminar este registro?</h3>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.pai_nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pai_nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pai_codigointernacional)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pai_codigointernacional)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pai_predeterminado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pai_predeterminado)
                </dd>

            </dl>

        </div>
        <div class="panel-footer">
            @if (ViewBag.Err != null)
            {
                <div class="alert alert-danger">@ViewBag.Err</div>
            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <button type="submit" id="btnSubmit" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-ok"></span> Eliminar
                </button>

                <a class='btn btn-success btn-sm' href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </a>
            }

        </div>

    </div>

</div>
