@model SygnusportalBD.Pais

@{
    ViewBag.Title = "Details";
}
<p>
        <h2>Pais Details</h2>
</p>
<ul class="nav nav-tabs">
    <li><a href="@Url.Action("Index")"><i class="far fa-list-alt"></i> Pais</a></li>
    <li class="active"><a href="@Url.Action("Details",new { id = Model.pai_codigo })"><i class="far fa-file"></i> Detalles</a></li>
</ul>
<div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-body">
<p></p>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pai_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pai_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pai_codigointernacional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pai_codigointernacional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pai_predeterminado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pai_predeterminado)
        </dd>

    </dl>
</div>
                </div>
            <div class="panel-footer">
                <a class='btn btn-success btn-sm' href="@Url.Action("Edit",new { id = Model.pai_codigo })">
                    <span class="glyphicon glyphicon-edit"></span> Editar
                </a>

                <a class='btn btn-danger btn-sm' href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </a>

            </div>
        </div>
    </div>

<p>
</p>
